@font-face {
    font-family: 'nunito-regular';
    src: url('./fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'nunito-bold';
    src: url('./fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'nunito-light';
    src: url('./fonts/Nunito-Light.ttf');
}